<div class="content" *ngIf="singInForm">
  <form class="example-form" [formGroup]="singInForm" (ngSubmit)="signIn()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput [errorStateMatcher]="matcher"
             formControlName="email"
             placeholder="random@example.com">
      <mat-error *ngIf="singInForm.get('email').hasError('required') && singInForm.get('email').touched">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput [errorStateMatcher]="matcher"
             formControlName="password"
             placeholder="Password">
      <mat-error *ngIf="singInForm.get('email').hasError('required') && singInForm.get('email').touched">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-error *ngIf="error === EAuth.PASSWORD" class="mb-3">
      Wrong password
    </mat-error>

    <mat-error *ngIf="error === EAuth.UNREGISTERED" class="mb-3">
      Unregistered User
    </mat-error>

    <button mat-raised-button color="primary"
            class="mb-3"
            [disabled]="singInForm.invalid"
            type="submit">
      Sign In
    </button>

    <button mat-button color="primary"
            [routerLink]="'/sign-up'"
            type="button">
      Sign Up
    </button>
  </form>
</div>
