header{
  position: fixed;
  height: 60px;
  background-color: var(--bg);
  top: 0;
  width: calc(100vw - 10px);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

h4{
  margin-right: 1rem;
  margin-bottom: 0!important;
}
